@import url(./setting.css);
@import "tailwindcss";
@theme {
  --font-cube: cube;
  --font-iranYekan: iranYekan;
  --font-iranYekanMedium: iranYekanMedium;
  --font-iranYekanBold: iranYekanBold;
  --font-iranYekanExtraBold: iranYekanExtraBold;
}

.container-2xl-w {
  width: 100%;
  max-width: 1336px;
  margin-left: auto;
  margin-right: auto;
}

.story-bar {
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    width: 84px !important;
    margin-left: 0.75rem;
    cursor: pointer;
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: "";
  }
}
